manifest {
    name = 'nf-annotation'
    version = '0.4.1'
    nextflowVersion = '>=26.04.0'
}

params {
    sample_csv = null
    update_from = null
    metadata = null
    taxdump = null
    taxdump_label = null
    checkm2_db = null
    checkm2_db_label = null
    codetta_db = null
    codetta_db_label = null
    eggnog_db = null
    eggnog_db_label = null
    cogclassifier_db = null
    pfam_db = null
    kofam_db = null
    eggnog_version = null
    cogclassifier_version = null
    pfam_version = null
    kofam_version = null
    annotation_tools = 'eggnog,cogclassifier,pfam,kofam,padloc'
    annotation_from = null
    annotation_cpus = 4
    annotation_memory = 32.GB
    annotation_max_forks = 2
    barrnap_kingdom = 'bac'
    gcode_rule = 'mean_gene_length_ratio'
    busco_lineages = ['bacillota_odb12', 'mycoplasmatota_odb12']
    busco_primary_column = null
    busco_db = null
    prepare_busco_datasets = false
    download_missing_databases = false
    force_runtime_database_rebuild = false
    runtime_db_scratch_root = null
    taxdump_version = null
    codetta_extra_args = ''
    ccfinder_extra_args = ''
    ani_16s_policy = 'complete'
    ani_threshold = 0.95
    ani_score_profile = 'default'
    outdir = 'results'
    task_attempts = 3
    soft_fail_attempts = 3
    db_download_attempts = 2
    max_cpus = 8
    max_memory = 64.GB
    max_time = 24.h
    slurm_queue = null
    slurm_qos = null
    slurm_cluster_options = null
    executor_queue_size = 100
    singularity_cache_dir = null
    singularity_run_options = ''
    python_container = 'quay.io/asuq1617/python-scipy@sha256:30051a8fbc1fddbd6c5e1c10760699f40d2f5711e6640c36d4747a1882ef05c2'
    runtime_db_helper_container = 'quay.io/asuq1617/nf-myco_db:0.3'
    seqtk_container = 'quay.io/biocontainers/seqtk:1.5--h577a1d6_1'
    barrnap_container = 'quay.io/biocontainers/barrnap:0.9--hdfd78af_4'
    checkm2_container = 'quay.io/biocontainers/checkm2:1.1.0--pyh7e72e81_1'
    busco_container = 'quay.io/biocontainers/busco:6.0.0--pyhdfd78af_2'
    prokka_container = 'quay.io/asuq1617/prokka:1.15.6'
    ccfinder_container = 'quay.io/asuq1617/ccfinder:4.2.30'
    codetta_container = 'quay.io/asuq1617/codetta:2.0'
    padloc_container = 'quay.io/asuq1617/nf-annotation-padloc@sha256:557718303da941c8f6ac6c55bdb659f0e4c37963657a7da4d4a33e47ae3ccbd8'
    eggnog_container = 'quay.io/asuq1617/nf-annotation-eggnog@sha256:4eb430644be8a94e4e752874dc8d646cdc9acb9ddf28c5b2d1bb283987a1027d'
    cogclassifier_container = 'quay.io/asuq1617/nf-annotation-cogclassifier@sha256:d3900ea264815e527dac4a1c2737a270258bcf6e813cc606d348f7ef674ae10c'
    pfam_container = 'quay.io/asuq1617/nf-annotation-pfam@sha256:c6ef9dcabe7c494e853a8f3eef3a6ecd987b2a5abafe07ad13df8b406834f2f6'
    kofam_container = 'quay.io/asuq1617/nf-annotation-kofam@sha256:bfe33293b9d32c6671c20672472d669428458527bd38de958eae2fcb6ed4fcb0'
    fastani_container = 'quay.io/biocontainers/fastani:1.34--hb66fcc3_7'
}

includeConfig 'conf/base.config'
includeConfig 'conf/local.config'
includeConfig 'conf/slurm.config'
includeConfig 'conf/test.config'
includeConfig 'conf/docker.config'
includeConfig 'conf/singularity.config'
includeConfig 'conf/oist.config'
includeConfig 'conf/gwdg.config'
includeConfig 'conf/marmic.config'
includeConfig 'conf/viper-cpu.config'

profiles {
    local {
        process.executor = 'local'
    }

    docker {
        docker.enabled = true
    }

    slurm {
        process.executor = 'slurm'
    }

    test {
        process.executor = 'local'
    }

    singularity {
        singularity.enabled = true
    }
}
